<p class="font-weight-bold"> Edit article </p>

<%= form_for @article, method: "put" do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being updated:</h2>

      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  <div class="form-group">
    <%= f.label :tags %>
    <%= f.fields_for :article_tags do |tags_form| %>
      <%= tags_form.select :tag_ids,
        Tag.pluck(:name, :id),
        {include_hidden: false, selected: @article.article_tags.pluck(:id) },
        { class: "selectpicker", multiple: true, data: { live_search: 'true' } }
      %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :content %>

    <%= rich_text_area_tag "article[content]", @article.article_attachment.attachment.read || f.object.content %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>