<p class="navbar-text float-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Home page', root_path, class: 'btn btn-light' %>
    <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-light' %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-light'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-light'  %>
    <%= link_to "Login", new_user_session_path, class: 'btn btn-light'  %>
  <% end %>
</p>
