<tr>
  <td scope="row"><%= article.id %></td>
  <td><%= article.category || 'No Category' %></td>
  <td><%= article.status %></td>
  <td><%= article.tags.pluck(:name).join(',') %></td>
  <td>
    <%= link_to 'Edit', edit_article_path(article.id)%>
    <%= link_to 'Delete', article_path(article.id), data: { method: :delete }%>
    <%= link_to 'Activate', activate_article_path(article.id), data: { method: :post } unless article.active? %>
  </td>
  <td colspan="2"><%= article.content %></td>
</tr>